<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
         ol.lst-kix_list_1-3 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-4 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-5 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-6 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-0 {
            list-style-type: none
        }
        
        .lst-kix_list_1-4>li {
            counter-increment: lst-ctn-kix_list_1-4
        }
        
        ol.lst-kix_list_1-1 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-2 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-6.start {
            counter-reset: lst-ctn-kix_list_1-6 0
        }
        
        .lst-kix_list_1-1>li {
            counter-increment: lst-ctn-kix_list_1-1
        }
        
        ol.lst-kix_list_1-3.start {
            counter-reset: lst-ctn-kix_list_1-3 0
        }
        
        ol.lst-kix_list_1-2.start {
            counter-reset: lst-ctn-kix_list_1-2 0
        }
        
        ol.lst-kix_list_1-8.start {
            counter-reset: lst-ctn-kix_list_1-8 0
        }
        
        .lst-kix_list_1-0>li:before {
            content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "
        }
        
        ol.lst-kix_list_1-5.start {
            counter-reset: lst-ctn-kix_list_1-5 0
        }
        
        ol.lst-kix_list_1-7 {
            list-style-type: none
        }
        
        .lst-kix_list_1-1>li:before {
            content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". "
        }
        
        .lst-kix_list_1-2>li:before {
            content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". "
        }
        
        .lst-kix_list_1-7>li {
            counter-increment: lst-ctn-kix_list_1-7
        }
        
        ol.lst-kix_list_1-8 {
            list-style-type: none
        }
        
        .lst-kix_list_1-3>li:before {
            content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "
        }
        
        .lst-kix_list_1-4>li:before {
            content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". "
        }
        
        ol.lst-kix_list_1-0.start {
            counter-reset: lst-ctn-kix_list_1-0 0
        }
        
        .lst-kix_list_1-0>li {
            counter-increment: lst-ctn-kix_list_1-0
        }
        
        .lst-kix_list_1-6>li {
            counter-increment: lst-ctn-kix_list_1-6
        }
        
        .lst-kix_list_1-7>li:before {
            content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". "
        }
        
        .lst-kix_list_1-3>li {
            counter-increment: lst-ctn-kix_list_1-3
        }
        
        .lst-kix_list_1-5>li:before {
            content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". "
        }
        
        .lst-kix_list_1-6>li:before {
            content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "
        }
        
        ol.lst-kix_list_1-7.start {
            counter-reset: lst-ctn-kix_list_1-7 0
        }
        
        .lst-kix_list_1-2>li {
            counter-increment: lst-ctn-kix_list_1-2
        }
        
        .lst-kix_list_1-5>li {
            counter-increment: lst-ctn-kix_list_1-5
        }
        
        .lst-kix_list_1-8>li {
            counter-increment: lst-ctn-kix_list_1-8
        }
        
        ol.lst-kix_list_1-4.start {
            counter-reset: lst-ctn-kix_list_1-4 0
        }
        
        .lst-kix_list_1-8>li:before {
            content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". "
        }
        
        ol.lst-kix_list_1-1.start {
            counter-reset: lst-ctn-kix_list_1-1 0
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c16 {
            color: #bdbdbd;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Garamond";
            font-style: italic
        }
        
        .c17 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }
        
        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Garamond";
            font-style: normal
        }
        
        .c3 {
            background-color: #ffffff;
            padding-top: 0pt;
            padding-bottom: 10pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c5 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 23pt;
            font-family: "Garamond";
            font-style: normal
        }
        
        .c13 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Garamond";
            font-style: normal
        }
        
        .c7 {
            background-color: #ffffff;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Garamond";
            font-style: normal
        }
        
        .c11 {
            padding-top: 0pt;
            padding-bottom: 10pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c0 {
            padding-top: 0pt;
            padding-bottom: 10pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c12 {
            padding-top: 0pt;
            padding-bottom: 10pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .c2 {
            font-size: 12pt;
            font-family: "Garamond";
            font-style: italic;
            font-weight: 700
        }
        
        .c18 {
            font-size: 10pt;
            font-family: "Garamond";
            font-weight: 400
        }
        
        .c15 {
            background-color: #ffffff;
            max-width: 451.3pt;
            padding: 72pt 72pt 35.5pt 72pt
        }
        
        .c14 {
            font-size: 12pt;
            font-family: "Garamond";
            font-weight: 400
        }
        
        .c8 {
            height: 11pt
        }
        
        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }
        
        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c15">
    <p class="c7"><span class="c4">LAST WILL AND TESTAMENT OF </span></p>
    <p class="c3"><span class="c2"><%=name%></span></p>
    <p class="c11"><span class="c1">THIS IS THE LAST WILL AND TESTAMENT OF ME <%= name=%> <%= name=%> made this &nbsp;<%=day %> day of <%= month%>, <%= year %>.</span></p>
    <p class="c0"><span class="c14">I.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I, <%=name %></span><span class="c1">, residing at <%=city %>, <%= mystate %> , being of sound mind and in the contemplation of the certainty of death, do hereby declare this instrument to be my last will and testament. </span></p>
    <p class="c0"><span class="c1">II. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I hereby revoke all previous wills, testamentary documents and codicils made by me AND DECLARE this to be my last Will. </span></p>
    <p class="c6"><span class="c1">III. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I direct that the disposition of my remains be as follows: </span></p>
    <p class="c12"><span class="c18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= burial %></span></p>
    <p class="c0"><span class="c1">IV.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I appoint <%= executor1 %>, of &nbsp;<%= executoraddress1 %> to act as the executor and trustees of this will, to serve without bond. Should <%= executor1 %>, be unable or unwilling to serve, then I appoint <%= executor2 %> of <%= executoraddress2 %> to act as the executor of this will. And I DECLARE THAT the expression &ldquo;MY TRUSTEES&rdquo; shall where the context so admits include my trustee for the time being of this my Will.</span></p>
    <p class="c0"><span class="c1"><% assigned.forEach(function(a, i){ %></span></p>
    <p class="c6"><span class="c1"><%= i %>. &nbsp; <%= a %></span></p>
    <p class="c6 c8"><span class="c1"></span></p>
    <p class="c0"><span class="c1"><% }); %></span></p>
    <p class="c0"><span class="c14">I give all the rest and residue of my estate to the Trustee of the <%= name %></span><span class="c1">&nbsp;Living Trust, solely to be held in trust and used for the purposes stated within the trust. </span></p>
    <p class="c0"><span class="c1">I DECLARE that if any of my child/children named in this Will dies in my lifetime leaving issue/issues, such issue/issues shall be entitled to take by substitution the share of my property that my said deceased child/children would have taken if he/they had survived me.</span></p>
    <p class="c0"><span class="c1">I DECLARE that my said executors/trustees be compensated with _____________ for the trouble and time expended by them in carrying out my wishes in this Will.</span></p>
    <p class="c0"><span class="c1">I herewith affix my signature to this will on this <%= day %> day of &nbsp;<%= month%>, <%= year %> , at ________________________________________, in the presence of the following witnesses, who witnessed and subscribed this will at my request, and in my presence.</span></p>
    <p class="c0 c8"><span class="c1"></span></p>
    <p class="c9"><span class="c1">_______________________________________</span></p>
    <p class="c9"><span class="c1"><%= name %></span></p>
    <p class="c8 c9"><span class="c1"></span></p>
    <p class="c9 c8"><span class="c1"></span></p>
    <p class="c11"><span class="c13">ATTESTATION CLAUSE</span></p>
    <p class="c0"><span class="c1">On the date above written,<%= name %> well known to us declared to us, and in our presence, that this instrument, consisting of _____ pages, is his last will and testament, and <%= name %> , then signed this instrument in our presence, and at <%= name %>&rsquo;s request we now sign this will as witnesses in each other's presence.</span></p>
    <p class="c0"><span class="c1">Further, that <%= name %>, appeared to us to be of sound mind and lawful age, and under no undue influence. </span></p>
    <p class="c0"><span class="c1">Witness [1] Name: <%=name1 %> </span></p>
    <p class="c0"><span class="c1">Address: &nbsp;<%= address1 %></span></p>
    <p class="c0"><span class="c1">Occupation: <%= occupation1 %></span></p>
    <p class="c0"><span class="c1">Signature: ______________________________________________________________</span></p>
    <p class="c0"><span class="c1">Witness [2] Name: &nbsp;<%=name2 %> </span></p>
    <p class="c0"><span class="c1">Address: &nbsp;<%= address2 %></span></p>
    <p class="c0"><span class="c1">Occupation: <%= occupation2 %></span></p>
    <p class="c0"><span class="c1">Signature: ______________________________________________________________</span></p>
    <p class="c0"><span class="c1"><%= state %></span></p>
    <p class="c0"><span class="c1"><%= district %></span></p>
    <p class="c0"><span class="c1">PREPARED BY:&nbsp;</span></p>
    <p class="c6"><span class="c1">____________________</span></p>
    <p class="c6"><span class="c1">SOLICITOR/LAWYER</span></p>
    <p class="c6 c8"><span class="c1"></span></p>
    <p class="c10"><span class="c1">Before me, the undersigned authority authorized to take acknowledgments and administer oaths, personally appeared: <%= name %> who after being having duly sworn or affirmed to tell the truth, stated: </span></p>
    <p class="c10"><span class="c1">1. That <%= name %> declared this instrument to be his last will and testament to the witnesses. </span></p>
    <p class="c10"><span class="c1">2. That <%= name %> signed this instrument in their presence. </span></p>
    <p class="c10"><span class="c1">3. That the witnesses signed as witnesses in the presence of <%= name %> and each other.</span></p>
    <p class="c10"><span class="c1">4. That <%= name %> is well known to the witnesses, and the witnesses believe <%= name %> to be of lawful age, of sound mind and under no undue influence or constraint. </span></p>
    <p class="c12"><span class="c1">Officer: ________________________________________________ </span></p>
    <p class="c12"><span class="c1">Title of Officer: __________________________________________ </span></p>
    <p class="c12"><span class="c1">My Commission Expires: ___________________________________ </span></p>
    <p class="c8 c12" id="h.gjdgxs"><span class="c17"></span></p>
</body>

</html>